:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.amx-main {
  flex: 1;

  &.amx-main--auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: var(--color-bg-primary);
  }
}
